/* Font Family Arimo */
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

/* Font Family Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*    Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default Font */
body {
  font-family: "Inter", sans-serif;
}

/* Common Section Spacing */
section {
  padding: 80px 8%;
}

/* Common button style */
.btn-primary {
  background-color: #1d4ed8;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* Navbar section css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
}

.navbar-logo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-family: "Arimo", sans-serif;
}

.navbar-logo .logo img {
  display: block;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.6px;
  color: #0d1b2a;
}

.logo-text .logo-year {
  display: block;
}

.navbar-menu .nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.nav-list .nav-item .nav-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #575757;
}

.font-arimo {
  font-family: "Arimo", sans-serif;
}

.text-medium {
  font-weight: 500;
}

.navbar-action {
  display: flex;
  align-items: center;
}

.navbar-action .btn {
  padding: 12px 41px;
  font-size: 16px;
}

/* Banner Section css */
.banner {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("./assets/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;

  display: grid;
  justify-content: center;
  align-items: center;
}

.banner-content {
  text-align: center;
  color: #ffffff;
}
.banner-content .banner-title {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -3.2px;
  margin-bottom: 16px;
}

.banner-title .highlight {
  font-style: italic;
}

.banner-content .banner-description {
  font-size: 22px;
  font-weight: 400;
  max-width: 770px;
  margin: 20px auto;
}

.banner-action {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-bottom: 79px;
}

.banner-action .btn {
  padding: 25px 62px;
  font-size: 24px;
}


/* Meet Speakers Section CSS */
.section-header{
    margin-bottom: 56px;
}

.section-title{
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    color: #000102;
}

.speakers .speakers-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.speakers-container .speaker-card {
  border:1px solid #E5E7EB; 
  border-radius: 12px;
}

.speaker-image{
    display: block;
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.speaker-info{
    padding: 25px 24px;
}

.speaker-info .speaker-category{
    font-size: 12px;
    font-weight: 600;
    color: #2563EB;
}

.speaker-info .speaker-name{
    padding: 8px 0;
    font-size: 20px;
    font-weight: 700;
    color: #0D1B2A;
}

.speaker-info .speaker-role{
    font-size: 14px;
    font-weight: 400;
    color: #575757;
}